#modal.inline {
    position:absolute;
    top: 150px;             
    left: 200px;             
    width: 600px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: blanchedalmond;
    display:none;
}
